{{!-- Next Step Email --}}
<div>{{modifiedByName}} upated the next step "{{stepTitle}}" on {{dealName}}
</div>
<div class="table-container">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <th scope="row">Assigned User</th>
                <td>{{assignedUserName}}</td>
            </tr>
            <tr>
                <th scope="row">dueDate</th>
                <td>{{dueDate}}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td class="description">{{description}}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>{{stepStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    {{>roost-link-html}}
</div>
{{>footer-html}}
