{{!-- Next Step Email --}}

{{#if existed}}
    {{#if completedDate}}
        {{{formatUserName modifiedBy}}} at {{{modifiedBy.company}}} has completed {{stepTitle}}
    {{else}}
        {{{formatUserName modifiedBy}}} at {{{modifiedBy.company}}} has updated {{stepTitle}}
    {{/if}}
{{else if assignedUserName}}
    {{{formatUserName modifiedBy}}} at {{{modifiedBy.company}}} has assigned a next step to {{assignedUserName}}
{{else}}
    {{{formatUserName modifiedBy}}} at {{{modifiedBy.company}}} has created {{stepTitle}}
{{/if}}

<div class="table-container">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr scope="row">
                <th>Problem Summary</th>
                <td>{{dealName}}</td>
            </tr>
            <tr scope="row">
                <th>Next Step Creator</th>
                <td>{{{formatUserName author}}}</td>
            </tr>
            <tr scope="row">
                <th>Assigned User</th>
                <td>{{formatUserName assignedUser}}</td>
            </tr>
            <tr scope="row">
                <th>Description</th>
                <td class="description">{{description}}</td>
            </tr>
            <tr scope="row">
                <th>Due Date</th>
                <td>{{formatDate dueDate}}</td>
            </tr>
            <tr scope="row">
                <th>Status</th>
                <td>{{stepStatusLabel completedDate}}</td>
            </tr>
            <tr scope="row">
                <th>Incomplete Next Steps</th>
                <td>{{incompleteSteps.length}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    {{>roost-link-html}}
</div>
{{>footer-html}}
