<div>
    <p>
        {{{formatUserName user}}} at {{{user.company}}} uploaded a new document.
    </p>
    {{#if externalLink}}
        <a href={{externalLink}}>{{documentName}}</a>
    {{else}}
        <p class="document">{{documentName}}</p>
    {{/if}}
</div>
<div>
    {{>roost-link-html}}
</div>
{{>footer-html}}
