<div>
    <p>
        {{firstName}} {{lastName}} uploaded a new document on <i>{{dealName}}</i>
    </p>
    {{#if externalLink}}
        <a href={{externalLink}}>{{documentName}}</a>
    {{else}}
        <p class="document">{{documentName}}</p>
    {{/if}}    
</div>
<div>
    {{>roost-link-html}}
</div>
{{>footer-html}}
